<!-- <footer class="container-fluid bg-light my-5">
  <div class="row">
    <div class="col-12 col-md-4 text-center text-md-left my-3">
      <h4 class="text-black">ABOUT US</h4>
      <p class="mb-0">BookCrate is a platform for book lovers to discover and purchase their favorite books online.</p>
    </div>
    <div class="col-12 col-md-4 text-center my-3">
      <h4 class="text-black">FOLLOW US</h4>
      <a href="#"><i class="fab fa-facebook fa-lg mx-2"></i></a>
      <a href="#"><i class="fab fa-twitter fa-lg mx-2"></i></a>
      <a href="#"><i class="fab fa-instagram fa-lg mx-2"></i></a>
    </div>
    <div class="col-12 col-md-4 text-center text-md-right my-3">
      <h4 class="text-black">CONTACT US</h4>
      <p class="mb-0">BookCrate Inc.</p>
      <p class="mb-0">123 Main St.</p>
      <p class="mb-0">Anytown, USA 12345</p>
      <p class="mb-0">Phone: (123) 456-7890</p>
      <p class="mb-0">Email: info@bookcrate.com</p>
    </div>
  </div>

  <footer class="container-fluid mt-5 py-2 text-dark bg-light text-center">
    <div class="row my-3">
      <div class="col-6">
        <div>
          <p>© 2023 ITI - ALL RIGHTS RESEVED @OURTEAM</p>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../assets/crs.png" alt="crs" />
        </div>
      </div>
    </div>
  </footer> -->



<footer class="bg-light py-3 d-flex justify-content-center align-items-center text-center ">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 mb-3 mb-md-0">
        <h4 class="text-black">ABOUT US</h4>
        <p>BookCrate is a platform for book lovers to discover and purchase their favorite books online.</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h4 class="text-black">FOLLOW US</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4 ">
        <h4 class="text-black">CONTACT US</h4>
        <address>
          BookCrate Inc.<br>
          <!-- 123 Main St.<br> -->
          Assiut, Egypt<br>
          Phone: (123) 456-7890<br>
          Email: info@bookcrate.com
        </address>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p class="text-muted">© 2023 BookCrate - All Rights Reserved</p>
      </div>
      <div class="col-md-6 text-md-right">
        <img src="../../../assets/crs.png" alt="crs">
      </div>
    </div>
  </div>
</footer>