


<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-tertiary fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">My Bookstore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/books">Books</a>
          <a class="nav-link" routerLink="/authors">Authors</a>
          <a class="nav-link" routerLink="/genres">Genres</a>
          <a class="nav-link" routerLink="/aboutus">About</a>
          <a class="nav-link" routerLink="/register">Register</a>
          <a class="nav-link" routerLink="/login">Login</a>
          <!-- <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a> -->
        </div>
      </div>
    </div>
  </nav>
<br/>  
<br/>  
<br/>