<!-- <div class="container">
  <div class="row w-100">
    <div class="col-4 d-flex align-items-center">
      <div class="w-100">
        <img
          class="w-100 text-center"
          [src]="author?.author?.image_url"
          alt="{{ author?.author?.first_name }}"
        />
      </div>
      <div class="author-details">
        <h2>
          {{ author?.author?.first_name + " " + author?.author?.last_name }}
        </h2>
        <h5 class="text-muted">{{ author?.author?.date_of_birth | date }}</h5>
        <p class="author-info">{{ author?.author?.author_info }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div
      class="col-12 w-100"
      *ngFor="let book of author?.books"
      style="border: 1px solid black; padding: 5px"
    >
      <div class="d-flex">
        <img src="{{ book.book_id.image_url }}" class="w-25" />
        <div class="text-center">
          <a routerLink="/book-details/{{book.book_id._id}}">
            <h3 class="text-center m-5">{{ book.book_id.name }}</h3></a
          >
          <h6 class="text-muted">avg- {{ book.average_rate }}</h6>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- 
<div class="container">
  <div class="row">
    <div class="col-5 text-center">
      <img class="w-75 mb-3" style="border-radius: 10px;" [src]="author?.author?.image_url"
        alt="{{ author?.author?.first_name }}" />
      <div class="d-flex align-items-center justify-content-center">
      </div>
    </div>
    <div class="col-7">
      <div>
        <h1>{{ author?.author?.first_name + " " + author?.author?.last_name }}</h1>
        <div class="d-flex align-items-center mt-3">
          <img style="border-radius: 50%;width:50px;height:50px" class="mx-2" src="{{ author?.author?.image_url }}"
            alt="{{ author?.author?.first_name }}" />
          <h6>
            {{ author?.author?.first_name +" " + author?.author?.last_name }}
          </h6>
        </div>
        <div class="book-desc mt-2">
          <p>{{ author?.author.author_info }}</p>
        </div>
        <div class="author_info d-flex align-items-center">
          <div>
            <p style="font-weight: bold">PUBLISHER</p>
            <p style="font-weight: bold">FIRST PUBLISH</p>
            <p style="font-weight: bold">ISBN</p>
            <p style="font-weight: bold">LANGUAGE</p>
            <p style="font-weight: bold">PAGES</p>
          </div>
          <div class="mx-4">
            <p>Thomas Nilson Inc.</p>
            <p>Dec 30 2016</p>
            <p>05561368712 12364126862</p>
            <p>English</p>
            <p>240p .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<p *ngIf="!author" class="alert alert-secondary text-center my-3">
  Unfortunately, No details for this author.
</p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="w-75 img-fluid rounded" src="{{author.author.image_url}}" />
    </div>
    <div class="col-md-8">
      <h2 class="fw-bold">{{author?.author?.first_name }} {{author?.author?.last_name }}</h2>
      <br />
      <h3 class="justify">{{author?.author?.date_of_birth | date : "dd/MM/yyyy" }}</h3>
      <br />
      <br />
      <p class="text-justify">{{author?.author?.author_info }}</p>
    </div>
  </div>
</div>
<div class="container py-6 mb-0">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h3 class="fw-bold">Author's Books</h3>
    </div>
  </div>
</div>
<div class="container border border-3 rounded p-3">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-around align-items-center w-100" *ngFor="let book of author.books">
      <div>
        <img class="img-fluid" [src]="book?.image_url" />
        <h4 class="fw-bold">{{book?.name}}</h4>
      </div>
      <div class="d-flex justify-content-end">
        <div class="form-group">
          <select class="form-select selectpicker" id="status" data-style="btn-primary" data-width="fit"
            data-show-icon="true">
            <option value="wantToRead" data-icon="bi-bookmark-check">Want to read</option>
            <option value="currentlyReading" data-icon="bi-bookmark-plus">Currently reading</option>
            <option value="read" data-icon="bi-bookmark-fill">Read</option>
          </select>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<app-footer></app-footer>