.card {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card.show {
  opacity: 1;
}
.Categories {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}



  