<div class="container-fluid height-100 bg-light">
  <div class="row justify-content-between">
    <!-- <mat-drawer-container class="example-container col-8" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div id="wrapper" class="sidebar bg-secondary">
          
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav d-flex flex-column">
              <li class="sidebar-brand">
                <a
                  class="nav-item"
                  routerLink="/profile/{{ user.user_id }}"
                  [queryParams]="{ filter: 'all' }"
                >
                  All
                </a>
              </li>
              <li>
                <a
                  class="nav-item"
                  routerLink="/profile/{{ user.user_id }}"
                  [queryParams]="{ filter: 'new' }"
                  >New</a
                >
              </li>
              <li>
                <a
                  class="nav-item"
                  routerLink="/profile/{{ user.user_id }}"
                  [queryParams]="{ filter: 'currently_reading' }"
                  >Currently reading</a
                >
              </li>
              <li>
                <a
                  class="nav-item"
                  routerLink="/profile/{{ user.user_id }}"
                  [queryParams]="{ filter: 'want_to_read' }"
                  >Want to read</a
                >
              </li>
              <li>
                <a
                  class="nav-item"
                  routerLink="/profile/{{ user.user_id }}"
                  [queryParams]="{ filter: 'read' }"
                  >Finished</a
                >
              </li>
            </ul>
          </div>
        </div>
      </mat-drawer>

      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>
    </mat-drawer-container> -->
    <div
      class="col-4 w-100 d-flex justify-content-center"
      *ngIf="books?.length == 0"
    >
      <p class="alert alert-warning text-center">No Books Yet</p>
    </div>
    <div class="col-3" *ngFor="let book of books">
      <!-- (filterB)="fillBookArray($event)" -->
      <div class="content">
        <img
          class="w-100"
          [src]="book?.book_id?.image_url"
          alt="{{ book?.book_id?.name }}"
        />
        <h4>{{ book?.book_id?.name | titlecase }}</h4>
        <h5>By, {{ book?.book_id?.author_id?.first_name | titlecase }}</h5>
        <h5>rate: {{ book?.rate }}</h5>
        <h5>Avg.Rate: {{ book?.average_rate }}</h5>
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
        >
          <option value="{{ book?.book_status }}">
            {{ book?.book_status }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
