<div class="container-fluid">
  <div class="row justify-content-between">
    <app-usersidebar
      class="col-2"
      [user]="user"
    ></app-usersidebar>
    <div class="col-3" *ngIf="books?.length == 0">
      <p class="alert alert-warning text-center">No Books Yet</p>
    </div>
    <div class="col-4" *ngFor="let book of books">
      <!-- (filterB)="fillBookArray($event)" -->
      <div class="content">
        <img
          class="w-100"
          [src]="book?.book_id?.image_url"
          alt="{{ book?.book_id?.name }}"
        />
        <h4>{{ book?.book_id?.name | titlecase }}</h4>
        <h5>By, {{ book?.book_id?.author_id?.first_name | titlecase }}</h5>
        <h5>rate: {{ book?.rate }}</h5>
        <h5>Avg.Rate: {{ book?.average_rate }}</h5>
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
        >
          <option value="{{ book?.book_status }}">
            {{ book?.book_status }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
