<div class="container" *ngIf="books?.length == 0">
  <div class="row">
    <div class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-2 d-flex justify-content-center w-100"
      *ngIf="books?.length == 0">
      <p class="alert alert-warning text-center w-100">No Books Yet</p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center flex-column">
      <div>
      </div>
      <div class="w-50">
        <img class="w-100 text-center" src="../../../assets/404.png" alt="notfound" />
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 " style="z-index: 99999999;">
      <app-usersidebar [user]="user"></app-usersidebar>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-2 text-center" *ngFor="let book of books">
      <div class="content text-center">
        <div class="text-center">
          <a routerLink="/book-details/{{book?.book_id?._id}}"><img style="height:400px;" class="w-100 my-1"
              [src]="book?.book_id?.image_url" alt="{{ book?.book_id?.name }}" /></a>
        </div>
        <h4>{{ book?.book_id?.name | titlecase }}</h4>
        <h5>By, {{ book?.book_id?.author_id?.first_name | titlecase }}</h5>
        <p-rating [(ngModel)]="book.rate" (onCancel)="removeRate(book.book_id)"
          (onRate)="onRatingChanged(book?.book_id,$event)"></p-rating>
        <p-rating [readonly]="true" [cancel]="false" [(ngModel)]="book.average_rate"></p-rating>
        <mat-form-field>
          <mat-label>{{ book.book_status }}</mat-label>
          <mat-select class="selected" (selectionChange)="onStateChanged(book?.book_id,$event)">
            <mat-option class="select" *ngFor="let status of status" [value]="status?.value">
              <b> {{status?.viewValue}} </b>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>



<app-footer></app-footer>